ul.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 7px -85px 0px;
  font-size: 1rem;
  color: #B39DDB;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

#toolBox{
  margin-top:10px;
}

.Shape{
  background-color:#B39DDB;
  color:#fff;
}

.Shape:hover{
  background-color:#673AB7;
}

.Shape:active{
    background-color:#673AB7;
}

.Shape:focus{
    background-color:#673AB7;
}

#loadFolder{
  color:#fff;
  margin-top:11px;
}

#canvasDrawing{
  color:orange;
}
